---
Language: Cpp # this format style is targeted at. Cpp for c, c++, oc, oc++.
BasedOnStyle: Google
UseTab: Never
IndentWidth: 4
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
IndentCaseLabels: true
ColumnLimit: 0
AccessModifierOffset: -3
FixNamespaceComments: true
SpaceBeforeInheritanceColon: true
BreakInheritanceList: AfterColon
IndentPPDirectives: AfterHash
